@font-face {
    font-family: 'poppins';
    src: url(../font/Poppins-SemiBold.ttf);
}

*{
    font-family: 'poppins';
}

body {
    background-color: #483d8b;
    color: #ffffff;
}

h1{
    text-align: center;
}

div{
    width: max-content;
    margin: auto;

}

.form_box{
    margin: auto;
    width: max-content;
    color: #bcc0fd;
}

label{
    margin-bottom: 5px;
}

label, input{
    display: block;
}

input:not(#button){
    font-size: 16px;
    margin-bottom: 20px;
    width: 310px;
    height: 45px;
    border: none;
    border-radius: 15px;
}

button {
    cursor: pointer;
    width: 320px;
    height: 35px;
    border: none;
    background-color: #231c50;
    color: #ffffff;
    font-weight: bolder;
    border-radius: 15px;
    transition: 0.6s;
}

button:hover{
    background-color: #34297a;
    box-shadow: 0px 0px 5px #8c7aff;
}

